.app-checkbox {
  &__item {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 100%;

    &.checked {
      background-color: black;
    }
  }

  &__label {
    cursor: text;
  }
}
